<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <section sec:authorize="!isAuthenticated()">
            <a th:href="@{/register}">Register</a><br/>
            <a th:href="@{/login}">Log in</a>
        </section>
        <section sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}">Log out</a>
        </section>
        <h2><span th:text="${kategoria}"></span> News:</h2>
        <ul>
            <li th:each="uutinen : ${news}">
                <a th:href="@{/news/{id} (id = ${uutinen.id})}">
                    <span th:text="${uutinen.otsikko}">otsikko</span>
                </a>
            </li>
        </ul>

        <section sec:authorize="isAuthenticated()">
            <p>Add a news category</p>
            <form  th:action="@{/categories}" action="/categories" method="POST" >
                <input type="text" name="name"/>
                <button type="submit">Submit</button>
            </form>
            <br/>
        <a sec:authorize="isAuthenticated()" th:href="@{/sendNews}">Post news</a>
        </section>
        

        <p>Categories</p>
        <ul>
            <li th:each="category: ${kategoriat}">
                <a th:href="@{/news/category/{id} (id = ${category.id})}">
                    <span th:text="${category.name}">kategorian nimi</span>
                </a>
            </li>
        </ul>
    </body>
</html>
