<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Make an account</h1>
        <form th:action="@{/register}" action="/register" method="POST" th:object="${account}">
            <table>
                <tr>
                    <td>Username</td>
                    <td><input type="text" th:field="*{username}" /></td>
                    <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">tunnuksen virheviesti</td>
                    <!--<td th:if="${#fields.hasErrors('varattu')}" th:errors="*{varattu}">tunnus varattu virheviesti</td>-->
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" th:field="*{password}" /></td>
                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">salasanan virheviesti</td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
