<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Uutiset</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1 th:text="${uutinen.otsikko}">Otsikko</h1>
        <p th:text="${uutinen.time}">Julkaisuaika</p>
        
        <!--<img id="kuva">Kuva</img>-->
        
        <section th:text="${uutinen.ingressi}"></section><br/>
        
        <section th:text="${uutinen.teksti}"></section><br/>
        
        <p>Kirjoittaja: <span th:text="${uutinen.kirjoittaja}"></span></p>
        
        <p>News from same categories</p>
        <ul>
            <li th:each="category: ${uutinen.kategoriat}">
                <a th:href="@{/news/category/{id} (id = ${category.id})}">
                    <span th:text="${category.name}">kategorian nimi</span>
                </a>
            </li>
        </ul>
        <a th:href="@{/news}">Back to frontpage</a>
    </body>
</html>
